*{
    box-sizing: border-box;
}
.checkbox{
    opacity:0;
    position: absolute;
}
@media (max-width: 786px){
    .label{
        display: flex;
    }
}
.label{
    background-color: #343a40;
    justify-content: space-between;
    display: inline-block;
    align-items: center;
    border-radius: 50px;
    position: relative;
    padding-top: 1px;
    padding-left: auto;
    height: 26px;
    width: 50px;
    cursor: pointer;
}
@media (max-width: 786px) {
    .label{
        padding-top: 1px ;
        padding-left: 4px;
    }
}
.ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:2px;
    left:2px;
    height: 22px;
    width:22px;
    transition: transform 0.2s linear;
    cursor: pointer;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px)
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
    margin-left: 10px !important;
}